/target
.vscode/
.DS_Store
node_modules
/*.json

# We do not want to commit any log files that we produce from running the code locally so this is 
# added to the .gitignore file.
*.log

profile.json.gz
resolc-compiler-tests
workdir

!/schema.json
!/dev-genesis.json