[submodule "polkadot-sdk"]
	path = polkadot-sdk
	url = https://github.com/paritytech/polkadot-sdk.git
[submodule "resolc-compiler-tests"]
	path = resolc-compiler-tests
	url = https://github.com/paritytech/resolc-compiler-tests
